/* Global styles */

@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Permanent+Marker&display=swap");
@font-face {
  font-family: "Azurite";
  src: url(../public/assets/Fonts/Azurite-2.ttf) format("truetype");
  font-weight: medium;
}
@font-face {
  font-family: "Veteran TypeWriter";
  src: url(../public/assets/Fonts/veterantypewriter.ttf) format("truetype");
}

@font-face {
  font-family: "Kuashe";
  src: url(../public/assets/Fonts/Kuashe-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Kuashe";
  src: url(../public/assets/Fonts/Kuashe-Regular.otf) format("opentype");
}

:root {
  --main-bg-colour: #e6ccb6;

  /* background */
  --banner-bg: #617b90;
  /* background */
  --banner-bg-gradient: linear-gradient(
    166deg,
    hsl(213, 24%, 55%) 0%,
    hsl(208.89deg 26.73% 60.39%) 20%,
    hsl(209, 49%, 68%) 40%,

    hsl(209, 49%, 73%) 61%,
    hsl(0, 0%, 100%) 89%
  );
  /* Need to change the blues to the PS version banner colours */
  --banner-bg-colour-2: #faeeb1;

  /* svg required */

  --nav-colour-1: #6a5d56;
  --nav-colour-2: #e6ccb6;
  --body-colour: black;

  --flow-1: 2rem;

  --font-header: "Kuashe";
  --font-subheading: "Azurite";
  --font-body: "Merriweather";
  --font-marker: "Permanent Marker";
  --font-navbar: "Veteran TypeWriter";

  --font-size-xs: clamp(0.7813rem, 0.7194rem + 0.275vw, 0.96rem);
  --font-size-sm: clamp(0.9375rem, 0.8466rem + 0.4038vw, 1.2rem);
  --font-size-md: clamp(1.125rem, 0.9952rem + 0.5769vw, 1.5rem);
  --font-size-lg: clamp(1.35rem, 1.1683rem + 0.8077vw, 1.875rem);
  --font-size-xl: clamp(1.62rem, 1.3695rem + 1.1135vw, 2.3438rem);
  --font-size-2xl: clamp(1.944rem, 1.6028rem + 1.5164vw, 2.9297rem);
  --font-size-3xl: clamp(2.3328rem, 1.8727rem + 2.0451vw, 3.6621rem);
  --font-size-4xl: clamp(2.7994rem, 2.1838rem + 2.7358vw, 4.5776rem);

  --font-size-5xl: clamp(4rem, 3rem + 2vw, 4.5rem); /* 64–72px */
  --font-size-6xl: clamp(5rem, 4rem + 2.5vw, 5.625rem); /* 80–90px */
  --font-size-7xl: clamp(5.5rem, 4.5rem + 3vw, 9rem); /* 90–100px */
  --font-size-8xl: clamp(5.5rem, 5rem + 3.5vw, 10rem); /* 90–100px */

  --line-height-base: 1.5;
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;

  /* Spacing */
  --spacing-xxs: calc(0.125rem + 0.1vw); /* ~2–4px */
  --spacing-xs: calc(0.25rem + 0.2vw); /* ~4–8px */
  --spacing-sm: calc(0.5rem + 0.3vw); /* ~8–12px */
  --spacing-md: calc(1rem + 0.5vw); /* ~16–24px */
  --spacing-lg: calc(1.5rem + 0.75vw); /* ~24–32px */
  --spacing-xl: calc(2rem + 1vw); /* ~32–48px */
  --spacing-2xl: calc(2.5rem + 1.25vw); /* ~40–56px */
  --spacing-3xl: calc(3rem + 1.5vw); /* ~48–64px */
  --spacing-4xl: calc(4rem + 1.75vw); /* ~64–80px */
  --spacing-5xl: calc(5rem + 2vw); /* ~80–100px */

  /* Border Radius */
  --radius-sm: 0.25rem;
  --radius-md: 0.5rem;
  --radius-lg: 0.75rem;
  --radius-xl: 1rem;

  /* Accessibility */
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
}

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-size: var(--font-size-xs);
}

body h1:first-child {
  margin-top: 0;
}

h1,
h2,
p,
… {
  margin-top: 0;
}

body {
  font-family: var(--font-body), serif;
  /* Font is next big thing */
  font-size: var(--font-size-md);
  font-optical-sizing: auto;
  font-weight: 300;
  color: #000000;
  background-color: #e9ddd1;
  /* dfd3c9 */
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: var(--spacing-xl);
}

a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}

a:hover {
  color: inherit;
}

h1 {
  font-size: var(--font-size-8xl);
  font-family: var(--font-header);
  font-weight: 900;
  color: #ffffff5d;
}

h2 {
  font-size: var(--font-size-lg);
  font-family: var(--font-subheading);
  letter-spacing: 2px;
}

p {
  font-family: var(--font-body);
  font-size: var(--font-size-xs);
}

li {
  font-family: var(--font-navbar);
  font-size: 1.5rem;
  font-size: var(--font-size-md);
}

li img {
  width: 100%;
}

img {
  width: 100%;
}

button {
  -webkit-appearance: none;
  border-radius: 0;
  text-align: inherit;
  background: none;
  box-shadow: none;
  padding: 0;
  cursor: pointer;
  border: none;
  color: inherit;
  font: inherit;
}

button:hover {
  border-color: transparent;
}
/* Utilities */
.float {
  display: flow-root;
}

.float-right {
  float: right;
  shape-margin: 1.5rem;
  shape-outside: ellipse(
    33.33% 46.04% at 213px 134px
  ); /* shape-outside: url(assets/Images/CD.png); */
  width: 40%;
  margin-left: 10rem;
}

.flex {
  display: flex;
}

.flexAround {
  justify-content: space-around;
  align-items: center;
}

.flexSpread {
  justify-content: center;
  align-items: center;
}

.flexdown {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.grid {
  display: grid;
}

.grid-3 {
  grid-template-columns: repeat(3, 1fr); /* 3 equal columns */
}

.span-1 {
  grid-column: span 1;
}

.span-2 {
  grid-column: span 2;
}

.right-position {
  position: absolute;
  right: 0;
}

.Screen-sizing {
  max-width: calc(60vw);
}

.Screen-sizing-2 {
  max-width: calc(100% - 4rem);
}

.Screen-sizing-3 {
  max-width: calc(100% - 15rem);
}

.hoverExpand {
  transition: transform 0.5s;
  transform: scale(1);
}

.hoverExpand:hover {
  overflow-y: visible;
  transform: scale(1.1);
}

.flow-1 > * + * {
  margin-top: 1rem;
}

.flow-2 > * + * {
  margin-top: 4rem;
}

.flow-3 > * + * {
  margin-top: 6rem;
}

.flow-4 > * + * {
  margin-top: 8rem;
}

.beige-bg {
  background: var(--main-bg-colour);
}

.blue-bg-gradient {
  background: var(--banner-bg);
  background: var(--banner-bg-gradient);
}

.yellow-bg {
  background: var(--banner-bg-colour-2);
}

nav {
  position: relative;
  width: 100%;
  height: 100%;
}

.noise {
  opacity: 1;
  background-image: url(assets/Images/Noise.png);
}

.marginLeft {
  margin-left: auto;
}

.marginEven {
  margin: 0 auto;
}

.marginEvenChildren > * {
  margin: auto;
}

.textAlign {
  text-align: center;
}

.gap-10 {
  gap: 1rem;
}

.gap-20 {
  gap: 2rem;
}

.gap-50 {
  gap: 5rem;
}

.gap-100 {
  gap: 10rem;
}
/* Transistion onto page onclick */
.pageTransistion > * {
  /* transition:; */
}

.text-clr-white {
  color: #ffffffcf;
}

.font-Stretch {
  transform: scaleY(1.15);
}

.border-radius-10 {
  border-radius: 10px;
}
/* block */

.ContactForm {
  background-color: white;
  color: black;
  border-radius: 10px;
}

.ContactForm h2 {
  font-family: sans-serif;
  font-weight: 300;
}

.ContactForm h3 {
  font-family: sans-serif;
  font-weight: 300;
  font-size: var(--font-size-xs);
}

.ContactForm form {
  margin: 40px 50px;
}

.ContactForm img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 10px 0 0 10px;
}

input,
textarea {
  color: black;
  width: 100%;
  border: none;
  border-bottom: 2px solid #ccc;
  padding: 8px;
  font-size: 16px;
  background: transparent;
  outline: none;
  margin-bottom: 20px;
  transition: border-color 0.3s;
}

input:focus,
textarea:focus {
  border-bottom-color: #007bff;
}

/* From Uiverse.io by Creatlydev */
.button {
  line-height: 1;
  text-decoration: none;
  display: inline-flex;
  border: none;
  cursor: pointer;
  align-items: center;
  gap: 0.75rem;
  background-color: rgba(0, 0, 0, 0.897);

  color: #fff;
  border-radius: 10rem;
  font-weight: 600;
  padding: 0.75rem 1.5rem;
  padding-left: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: background-color 0.3s;
}

.button__icon-wrapper {
  flex-shrink: 0;
  width: 25px;
  height: 25px;
  position: relative;
  color: rgb(0, 0, 0);
  background-color: #ffffffe0;
  border-radius: 50%;
  display: grid;
  place-items: center;
  overflow: hidden;
}

.button:hover {
  background-color: #000;
}

.button:hover .button__icon-wrapper {
  color: #000;
}

.button__icon-svg--copy {
  position: absolute;
  transform: translate(-150%, 150%);
}

.button:hover .button__icon-svg:first-child {
  transition: transform 0.3s ease-in-out;
  transform: translate(150%, -150%);
}

.button:hover .button__icon-svg--copy {
  transition: transform 0.3s ease-in-out 0.1s;
  transform: translate(0);
}

/* From Uiverse.io by adamgiebl */
/* From Uiverse.io by Creatlydev */

.padding-30 {
  padding: 30px;
}

.padding-80 {
  padding: 80px;
}

.white-txt {
  color: white;
}

.lightgrey-txt {
  color: #5a5a5a;
}

/* ! Change this name, it doesnt represent what we need */
.hero {
  position: relative;
  width: 100%;
  /*? overflow: hidden; */
  height: 100%;
  /*! border radius needs utility instead */
  border-radius: 10px;
}

.CD {
  padding: 50px 0;
}

.bg-layer {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 10px;

  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  pointer-events: none; /* prevent interference with interaction */
}

.heroContent {
  position: relative;
  z-index: 1;
  padding-top: 100px;
  border-radius: 10px;
}

.heroGradientBG {
  background: var(--banner-bg);
  background: var(--banner-bg-gradient);
  /* mix-blend-mode: soft-light; */
  opacity: 1;
  border-radius: 10px;
}

.StarBG {
  background: url(../public/assets/Images/StarBG4.png) center / cover no-repeat;
  mix-blend-mode: soft-light;
  pointer-events: none; /* prevent interference with interaction */
  /* opacity: 2.2; */
}

/* !It is NOT rounding correctly */
.NoiseBG {
  background: url(../public/assets/Images/noise2.png);
  opacity: 0.075;
  background-repeat: repeat;
  /* ! teMP fix */
  border-radius: 10px;
}

.button-bg-paint {
  background: url(../public/assets/Images/paint.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.heroContent img {
  position: relative;
  width: clamp(1rem, 43%, 35rem);
}

.heroContent > div {
  position: relative;
  bottom: 45px;
  left: 32px;
}

.heroContent button {
  font-family: var(--font-marker);
  letter-spacing: 2px;
  margin-right: 15px;
}

.swiper {
  width: 600px; /* set fixed width or 100% for full width */
  height: 400px; /* set fixed height or let images define it */
  border-radius: 10px; /* rounded corners */
  overflow: hidden; /* hide overflow from slides */
  background-color: #000; /* optional background */

  margin-bottom: 100px;
}

.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background: rgba(255, 255, 255, 0.5);
  opacity: 1;
  margin: 0 4px;
  transition: background 0.3s;
  border-radius: 50%;
}

/* Active bullet */
.swiper-pagination-bullet-active {
  background: #dc722b; /* highlight color */
}

/*  */

.footer {
  background: #000;
  padding: 30px 0px;
  font-family: "Play", sans-serif;
  text-align: center;
}

.footer .row {
  width: 100%;
  margin: 1% 0%;
  padding: 0.6% 0%;
  color: gray;
  font-size: 0.8em;
}

.footer .row a {
  text-decoration: none;
  color: gray;
  transition: 0.5s;
}

.footer .row a:hover {
  color: #fff;
}

.footer .row ul {
  width: 100%;
}

.footer .row ul li {
  display: inline-block;
  margin: 0px 30px;
}

.footer .row a i {
  font-size: 2em;
  margin: 0% 1%;
}

@media only screen and (max-width: 1455px) {
  .Screen-sizing {
    max-width: 100%;
  }
}

@media only screen and (max-width: 750px) {
  /* block mode and straight down with hamburger */
  .heroContent {
    display: block;
  }

  .heroContent img {
    display: block;
    width: inherit;
  }

  .heroContent > div {
    position: inherit;
    bottom: auto;
    left: auto;
  }

  h2 {
    font-size: var(--font-size-2xl);
  }

  .float {
    display: block;
  }

  .float-right + p {
    display: block;
    margin-top: 4rem;
  }

  .float-right {
    float: none;
    display: block;
  }

  /* 2nd page */

  .grid {
    display: block;
  }

  .grid-3 img {
    margin: 0 auto;
  }

  .ContactForm img {
    display: none;

    border-radius: 10px 10px 0 0px;
  }

  .Screen-sizing-2 {
    width: 100%;
  }

  .Screen-sizing-3 {
    max-width: 100%;
    width: 100%;
  }

  #Polaroid img {
    width: 50%;
    margin: 0 auto;
  }

  #Polaroid {
    display: block;
  }

  #microphone {
    display: none;
  }

  .span-1 {
    margin: 0 auto;
  }
  .Screen-sizing {
    max-width: 100%;
  }
}

@media (max-width: 720px) {
  .footer {
    text-align: left;
    padding: 5%;
  }
  .footer .row ul li {
    display: block;
    margin: 10px 0px;
    text-align: left;
  }
  .footer .row a i {
    margin: 0% 3%;
  }
}

/* Breakpoints */

/* Gallery/slideshow needed */

/* Box shadow for contact form fill in page, with only the box being an inside shadow. Or find a way to make a line under  */
/* that needs to be a form */
/* Make sure h1's, h2's are correct after html is written up */
/* button needed here, make sure to add cursor pointer */
/* When collapsing need hamburger */
/* Collapsing banners? */
/* Re-do the components */
