/* Global styles */
@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Permanent+Marker&display=swap");
@font-face {
  font-family: "Azurite";
  src: url(../public/assets/Fonts/Azurite-2.ttf) format("truetype");
  font-weight: medium;
}
@font-face {
  font-family: "Kisah Horor Sobat";
  src: url(../public/assets/Fonts/KisahHororSobat.ttf) format("truetype");
}

@font-face {
  font-family: "Veteran TypeWriter";
  src: url(../public/assets/Fonts/veterantypewriter.ttf) format("truetype");
}

:root {
  --main-bg-colour: #e6ccb6;

  /* background */
  --banner-bg: #617b90;
  /* background */
  --banner-bg-gradient: linear-gradient(
    161deg,
    rgba(97, 123, 144, 1) 0%,
    rgba(137, 189, 229, 1) 41%,
    rgba(244, 248, 249, 1) 89%
  );
  /* Need to change the blues to the PS version banner colours */
  --banner-bg-colour-2: #faeeb1;

  /* svg required */

  --nav-colour-1: #6a5d56;
  --nav-colour-2: #e6ccb6;
  --body-colour: black;

  --flow-1: 2rem;

  --font-header: "Kisah Horor Sobat";
  --font-subheading: "Azurite";
  --font-body: "Merriweather";
  --font-marker: "Permanent Marker";
  --font-navbar: "Veteran Typewriter";
}

* {
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
}

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body h1:first-child {
  margin-top: 0;
}

h1,
h2,
p,
… {
  margin-top: 0;
}

body {
  font-family: var(--font-body), serif;
  /* Font is next big thing */
  font-size: 1.125rem;
  font-optical-sizing: auto;
  font-weight: 300;
  color: #000000;
  background-color: #e9ddd1;
  /* dfd3c9 */
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}

a:hover {
  color: inherit;
}

h1 {
  font-size: clamp(4rem, 4vw + 2rem, 6.5rem);
  font-family: var(--font-header);
}

h2 {
  font-size: clamp(1rem, 1vw + 0.5rem, 1.7rem);
  font-family: var(--font-subheading);
}

p {
  font-family: var(--font-body);
  font-size: clamp(0.9rem, 0.75vw + 0.75rem, 1.125rem);
}

li {
  font-family: var(--font-navbar);
}

li img {
  max-width: 100%;
}

/* Utilities */
.flexAround {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.flexSpread {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Screen-sizing {
  max-width: calc(100vw - 22.5rem);
}

.Screen-sizing-2 {
  max-width: 90%;
}

.hoverExpand {
  transition: transform 0.5s;
  transform: scale(1);
}

.hoverExpand:hover {
  overflow-y: visible;
  transform: scale(1.1);
}

.flow-1 > * + * {
  margin-top: 2rem;
}

.flow-2 > * + * {
  margin-top: 4rem;
}

.flow-3 > * + * {
  margin-top: 6rem;
}

.flow-4 > * + * {
  margin-top: 8rem;
}

.beige-bg {
  background: var(--main-bg-colour);
}

.blue-bg-gradient {
  background: var(--banner-bg);
  background: var(--banner-bg-gradient);
}

.yellow-bg {
  background: var(--banner-bg-colour-2);
}

.noise {
  opacity: 1;
  background-image: url(assets/Images/Noise.png);
}

.marginLeft {
  margin-left: 25rem;
}

.marginEven {
  margin: auto;
}

.marginEvenChildren > * {
  margin: auto;
}

.textAlign {
  text-align: center;
}

.gap-10 {
  gap: 10px;
}
/* Transistion onto page onclick */
.pageTransistion > * {
  transition:;
}

.text-clr-white {
  color: white;
}
/* block */

.hero {
  max-width: (100vw - 4rem);
  border-radius: 10px;
  background: var(--banner-bg);
  background: var(--banner-bg-gradient);
}

.contactForm {
}

.footer {
  background: #000;
  padding: 30px 0px;
  font-family: "Play", sans-serif;
  text-align: center;
}

.footer .row {
  width: 100%;
  margin: 1% 0%;
  padding: 0.6% 0%;
  color: gray;
  font-size: 0.8em;
}

.footer .row a {
  text-decoration: none;
  color: gray;
  transition: 0.5s;
}

.footer .row a:hover {
  color: #fff;
}

.footer .row ul {
  width: 100%;
}

.footer .row ul li {
  display: inline-block;
  margin: 0px 30px;
}

.footer .row a i {
  font-size: 2em;
  margin: 0% 1%;
}

@media (max-width: 720px) {
  .footer {
    text-align: left;
    padding: 5%;
  }
  .footer .row ul li {
    display: block;
    margin: 10px 0px;
    text-align: left;
  }
  .footer .row a i {
    margin: 0% 3%;
  }
}

/* Breakpoints */

@media only screen and (max-width: 600px) {
  .Screen-sizing {
    max-width: 100%;
  }
}

/* Gallery/slideshow needed */

/* Box shadow for contact form fill in page, with only the box being an inside shadow. Or find a way to make a line under  */
/* that needs to be a form */
/* Make sure h1's, h2's are correct after html is written up */
/* button needed here, make sure to add cursor pointer */
/* When collapsing need hamburger */
/* Collapsing banners? */
/* Re-do the components */
